html {
font-size: 62.5%;
}

body {
font-size: 1.6rem;
text-align: center;
color: #333;
}

html,body {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
max-width: 100%;
display: flex;
justify-content: center;

}

h1 {
text-align: center;
font-size: 35px;
color: #596185;
}
small {
color: #ff4040;
}